# Node modules
node_modules
.npm/

# Build directories and output
dist/
release/
out/
build/
coverage/

# Logs and temporary files
*.log
*.tmp
yarn-debug.log*
yarn-error.log*
npm-debug.log*

.env
.env.*

.DS_Store

# Do not ignore package-lock.json
