@font-face {
  font-family: 'DM Sans';
  font-weight: 400; /* Regular */
  src: url('./fonts/DMSans/DMSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'DM Sans';
  font-weight: 500; /* Medium */
  src: url('./fonts/DMSans/DMSans-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'DM Sans';
  font-weight: 700; /* Bold */
  src: url('./fonts/DMSans/DMSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'DM Sans';
  font-weight: 900; /* Black */
  src: url('./fonts/DMSans/DMSans-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'DM Sans';
  font-style: italic; /* Italic */
  font-weight: 400;
  src: url('./fonts/DMSans/DMSans-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'DM Sans';
  font-weight: 700;
  font-style: italic;
  src: url('./fonts/DMSans/DMSans-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Syne';
  font-weight: 400; /* Regular */
  src: url('./fonts/Syne/Syne-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Syne';
  font-weight: 500; /* Medium */
  src: url('./fonts/Syne/Syne-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Syne';
  font-weight: 600; /* SemiBold */
  src: url('./fonts/Syne/Syne-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Syne';
  font-weight: 700; /* Bold */
  src: url('./fonts/Syne/Syne-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Syne';
  font-weight: 800; /* ExtraBold */
  src: url('./fonts/Syne/Syne-ExtraBold.ttf') format('truetype');
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
  scroll-behavior: smooth;
  will-change: transform;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
}

html {
  font-size: 100%;
  height: -webkit-fill-available;
  /* height: 100%; */
}

body {
  height: -webkit-fill-available;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

:root {
  --vh: 9.5px;
  --calc-height: calc(var(--vh, 1vh) * 100);
  --selected-border: 1px solid currentColor;
}
